@use "../../Sass/utils/" as u;

.portfolio {
  display: grid;
  &__moreBtn {
    font-size: u.rem(15);
    margin-top: u.rem(30);
    justify-self: center;
  }
}
.portfolio__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  grid-gap: u.rem(20);
  width: 85%;

  @include u.breakpoints(medium) {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    justify-content: center;
  }

  @include u.breakpoints(large) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 1330px) {
    grid-template-columns: 1fr 1fr;
  }

  &__items {
    background-color: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (min-width: 56.125em) {
      width: u.rem(380);
    }

    @media screen and (max-width: 48.473em) {
      width: fit-content;
    }

    &:hover {
      border-color: var(--color-primary-variant);
      background-color: transparent;
    }

    &__image {
      border-radius: 1rem 1rem 0 0;
      overflow: hidden;
    }

    & h3 {
      margin: 1.2rem 0 0.75rem;
      text-align: center;
    }

    & p {
      font-size: u.rem(13);
      margin-bottom: u.rem(10);

      @include u.breakpoints(large) {
        font-size: u.rem(14);
        margin-right: u.rem(3);
      }
    }

    & p:first-of-type {
      background-color: var(--color-primary);
      color: var(--color-bg);
      font-weight: 600;
      padding: u.rem(3) u.rem(10);
      width: max-content;

      @include u.breakpoints(large) {
        width: fit-content;
      }
    }

    & p:last-of-type {
      margin-bottom: 1.75rem;

      @include u.breakpoints(large) {
        font-size: u.rem(13.5);
      }
    }

    &__cta {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
